In [16]:
import requests
import pandas as pd
response = requests.get("https://cdn.jsdelivr.net/gh/fawazahmed0/currency-api@1/2020-11-24/currencies/eur.json").json()
response

{'eur': {'aed': 4.349942,
  'afn': 91.18631,
  'all': 123.693638,
  'amd': 598.419043,
  'ang': 2.126507,
  'aoa': 774.935607,
  'ars': 95.093466,
  'aud': 1.623333,
  'awg': 2.131628,
  'azn': 2.013204,
  'bam': 1.946409,
  'bbd': 2.392022,
  'bch': 0.003664,
  'bdt': 100.455801,
  'bgn': 1.956698,
  'bhd': 0.446507,
  'bif': 2300.974036,
  'bmd': 1.184238,
  'bnd': 1.588239,
  'bob': 8.168362,
  'brl': 6.443319,
  'bsd': 1.184665,
  'btc': 6.4e-05,
  'btn': 87.732185,
  'bwp': 13.090221,
  'byr': 3.022967,
  'bzd': 2.387941,
  'cad': 1.548196,
  'cdf': 2330.57998,
  'chf': 1.080925,
  'clf': 0.031621,
  'clp': 916.48163,
  'cnh': 7.78618,
  'cny': 7.79939,
  'cop': 4319.566569,
  'crc': 714.352252,
  'cup': 1.184238,
  'cve': 110.430174,
  'czk': 26.316073,
  'djf': 210.462741,
  'dkk': 7.445137,
  'dop': 69.100275,
  'dzd': 152.174201,
  'egp': 18.5184,
  'etb': 44.941824,
  'eth': 0.001943,
  'eur': 1,
  'fjd': 2.47186,
  'gbp': 0.888794,
  'gel': 3.925748,
  'ghs': 6.898185,
  'gmd': 61.284306,
  'gnf': 11605.530391,
  'gqe': 652.808124,
  'gtq': 9.22863,
  'gyd': 247.750836,
  'hkd': 9.180507,
  'hnl': 28.776978,
  'hrk': 7.563372,
  'htg': 75.967291,
  'huf': 360.736596,
  'idr': 16863.5462,
  'ils': 3.969127,
  'inr': 87.923439,
  'iqd': 1409.242976,
  'irr': 49862.332356,
  'isk': 160.937916,
  'jmd': 174.521479,
  'jod': 0.839625,
  'jpy': 123.878379,
  'kes': 129.792462,
  'kgs': 100.419575,
  'khr': 4796.16307,
  'kmf': 493.767949,
  'kpw': 4.266809,
  'krw': 1318.518519,
  'kwd': 0.361666,
  'kyd': 0.987205,
  'kzt': 504.29831,
  'lak': 10989.726737,
  'lbp': 1796.83098,
  'lkr': 219.518607,
  'lrd': 185.777304,
  'lsl': 18.272789,
  'ltc': 0.013272,
  'lyd': 1.598721,
  'mad': 10.807354,
  'mdl': 20.382438,
  'mga': 4636.290967,
  'mkd': 61.630494,
  'mmk': 1547.778666,
  'mnt': 3321.787015,
  'mop': 9.459054,
  'mru': 43.935222,
  'mur': 47.251088,
  'mvr': 18.237262,
  'mwk': 905.941913,
  'mxn': 23.81096,
  'myr': 4.847677,
  'mzm': 87.479646,
  'mzn': 86.662522,
  'nad': 18.272789,
  'ngn': 450.602481,
  'nio': 41.258845,
  'nok': 10.688433,
  'npr': 140.368772,
  'nzd': 1.709252,
  'omr': 0.455918,
  'pab': 1.184665,
  'pen': 4.269177,
  'pgk': 4.180359,
  'php': 57.311188,
  'pkr': 190.603073,
  'pln': 4.471019,
  'pyg': 8333.760843,
  'qar': 4.31181,
  'ron': 4.87456,
  'rsd': 117.553365,
  'rub': 89.998875,
  'rwf': 1169.434823,
  'sar': 4.441089,
  'sbd': 9.476329,
  'scr': 24.620304,
  'sdg': 65.547562,
  'sek': 10.219617,
  'sgd': 1.591509,
  'shp': 0.883797,
  'sll': 12455.221008,
  'sos': 690.410634,
  'srd': 16.761702,
  'svc': 10.365825,
  'syp': 1487.40267,
  'szl': 18.272789,
  'thb': 35.962341,
  'tjs': 13.419439,
  'tmt': 4.144832,
  'tnd': 3.25547,
  'top': 2.718418,
  'try': 9.337034,
  'ttd': 8.041177,
  'twd': 33.697486,
  'tzs': 2747.271812,
  'uah': 33.625343,
  'ugx': 4390.447938,
  'usd': 1.184238,
  'uyu': 13.813465,
  'uzs': 3353.760825,
  'vef': 924945.969151,
  'vnd': 7472.736871,
  'vuv': 129.993783,
  'xaf': 649.305741,
  'xcd': 3.200462,
  'xof': 178.609324,
  'xpf': 119.986973,
  'yer': 80.712715,
  'zar': 18.220683,
  'zmw': 6.769693}}

In [17]:
df=pd.DataFrame(response['eur'].items())
df

       0           1
0    aed    4.349942
1    afn   91.186310
2    all  123.693638
3    amd  598.419043
4    ang    2.126507
..   ...         ...
152  xof  178.609324
153  xpf  119.986973
154  yer   80.712715
155  zar   18.220683
156  zmw    6.769693

[157 rows x 2 columns]